.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 60%;
}

.filter-input {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
}

.example-h2 {
  margin: 10px 0;
  color: rgba(0,0,0,.54);
}